dtd/dtdclientes.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!-- DTD generated by XMLSpy v2020 rel. 2 (http://www.altova.com) -->
<!ELEMENT top (#PCDATA)>
<!ELEMENT Edad (#PCDATA)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT cliente (nombre, apellido, Edad, top, numero_viajes, dinero_gastado, viaje_favorito)>
<!ATTLIST cliente
	n (1 | 2 | 3 | 4 | 5 | 6 | 7 | 8) #REQUIRED
>
<!ELEMENT apellido (#PCDATA)>
<!ELEMENT clientes (cliente+)>
<!ELEMENT numero_viajes (#PCDATA)>
<!ELEMENT dinero_gastado (#PCDATA)>
<!ELEMENT viaje_favorito (#PCDATA)>
