dtd/dtdpardu.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!-- DTD generated by XMLSpy v2020 rel. 2 (http://www.altova.com) -->
<!ELEMENT Pais (#PCDATA)>
<!ELEMENT Idioma (#PCDATA)>
<!ELEMENT Precio (#PCDATA)>
<!ELEMENT Destino (Pais, Sitio_a_visitar, Bandera_pais, Idioma, Precio)>
<!ATTLIST Destino
	n (1 | 2 | 3 | 4 | 5) #REQUIRED
>
<!ELEMENT Lugares (Destino+)>
<!ELEMENT Bandera_pais (#PCDATA)>
<!ELEMENT Sitio_a_visitar (#PCDATA)>
