dtd/dtdvehiculos.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!-- DTD generated by XMLSpy v2020 rel. 2 (http://www.altova.com) -->
<!ELEMENT foto (#PCDATA)>
<!ELEMENT autos (motocicletas, automoviles)>
<!ELEMENT color (#PCDATA)>
<!ELEMENT marca (#PCDATA)>
<!ELEMENT precio (#PCDATA)>
<!ELEMENT potencia (#PCDATA)>
<!ELEMENT automovil (potencia, color, fecha_matriculacion, marca, numero_pasajeros, precio, foto)>
<!ATTLIST automovil
	n (3 | 4) #REQUIRED
>
<!ELEMENT automoviles (automovil+)>
<!ELEMENT motocicleta (potencia, color, fecha_matriculacion, marca, numero_pasajeros, precio, foto)>
<!ATTLIST motocicleta
	n (1 | 2) #REQUIRED
>
<!ELEMENT motocicletas (motocicleta+)>
<!ELEMENT numero_pasajeros (#PCDATA)>
<!ELEMENT fecha_matriculacion (#PCDATA)>
